.btn-primary,
.btn-primary:hover{
    color: $white;
}
.accordion-collapse{
    background-color: $gray-100;
}
.accordion-item,
.accordion-body{
    border-color: $pink;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}