    .banner{
        background: url("images/LA-W_190930_0281.jpg") no-repeat fixed center;
        max-width: 100%;
        text-shadow: grey 0.2em 0.2em 0.2em;
    }
    .banner div{
        height: 1200px;
    }